/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* set the box-sizing property to inherit */

ul {
  list-style: none;
}

img {
  display: block:run-in;
  width: 100%;
  height: auto;

}

/* all images block elements
have them expand to the full 100% width of their parent container
height grow auto, proportionally */

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
 /* strip the default styling from form input elements by setting their appearance to none  */

button,
input[type="submit"] {
  cursor: pointer;
/*
  show the little pointer hand on buttons to make it obvious you can click. */
}
